body {
  font-family: sans-serif;
  background: lightcoral;
}

.content {
  padding-top: 100px;
  width: 800px;
  margin: auto;
}

.shadow {
  position: relative;
}

.shadow:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: 4px 4px 8px 0px;
}

.date_picker {
  display: none;
  position: absolute;
  z-index: 2;
  background: white;
  right: calc(100% - 48px);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.separated {
  margin-top: 16px;
  margin-bottom: 16px;
}

.task_title {
  border: 0px;
  flex: 1 0 auto;
  padding: 16px;
  font-size: 13.333px;
}

.task_action {
  font-size: 16px;
  padding: 16px;
  width: 16px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.fa-square,
.fa-check-square {
  font-size: 20px;
  color: steelblue;
  padding: 14px 16px;
  cursor: pointer;
}

.add_task {
  background: steelblue;
}

.snooze_task {
  background: darkgoldenrod;
}

.save_task {
  background: darkgreen;
}

.cancel_task {
  background: darkred;
}

.task_list {
  margin-bottom:-8px;
}

.task_item {
  background: white;
}

.task_item:hover {
  background: lightsteelblue;
}

.done {
  color: grey;
  text-decoration: line-through;
}

.edited {
  font-style: italic;
  font-size: 11px;
}

.list_header {
  background: white;
  justify-content: space-between;
  font-size: 20px;
  position: relative;
}

.list_title,
.list_filter {
  padding: 16px;
}

.fa-filter {
  color: steelblue;
  font-size: 20px;
}

.fa-filter:hover {
  background: lightsteelblue;
}

.menu {
  display: none;
  position: absolute;
  right: 4px;
  top: 4px;
  padding-bottom: 4px;
  background: white;
  font-size: 13.333px;
  z-index: 1;
}

.menu_title_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu_title,
.menu_filter {
  padding: 12px;
}

.menu_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.menu_row:hover {
  background: lightsteelblue;
}

.toggle {
  font-size: 16px;
  margin-right: 16px;
}